/* new css */
#team {
  background: #eee !important;
}
.top h1{
	text-align: center; 
	color: white; 
	margin-bottom: 25px;
	font-family: Poppins-Regular;  
}
.top{
	height: 175px;
	z-index: 1;
}
.top::before{
  content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,.7);
}
h4{
  margin-top: -79px;
  margin-left: 60px;
  font-family: serif;
}
h6{
  margin-top: -69px;
  margin-left: 60px;
}
.proftext{
 position: relative;
 display: inline-block;
 font-family: "Playfair Display";
 font-size: 40px;
 margin-bottom: 2rem!important;
}
#team .card {
  border: none;
  background: #ffffff;
}
.starrate{
  color: #337ab7;
  left: 17px;
  font-size: 10px;
  margin-left: 10px;
}
.nonStar {
  color: #337ab7;
  left: 17px;
  font-size: 10px;
  margin-left: 67px;
}
.card{
  height: 200px;
  /*width:250px;*/
  margin-top: 15px;
}
.frontside {
  min-height: auto;
}
hr{
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.frontside .card .card-title,{
  color: #007b5e !important;
}
.card-proff{
  color: #3ca0deb8 !important;
  margin-left: 60px;
}
.frontside .card .card-body1 {
  border-radius: 50%;
}
.imgonline{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: -183px;
  margin-top: 10px;
  cursor: pointer;
}
.text-centerd{
  text-align: center!important;
}
.expresp{
  margin-left: -145px;
  height: auto;
  width: 10%;
  opacity: .9;
}
.vidprice {
 height: auto;
 margin-left: -155px;
 width: 3%;
 opacity: .8;
}
.onlineimg{
  height: auto;
  margin-left: 211px;
  margin-top: -178px;
  width: 34px;
  opacity: .8;
}
.onlineimg:hover{
  width: 45px;
  cursor: pointer;
}
.online12{
  margin-top: -73px;
  margin-left: 210px;
}
.imgonlinebook{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 10px;
}
.popprofname{
  font-family: Georgia;
  font-weight: bold; 
  color: white;
  margin-top: 24px;
  margin-left: 10px;

}

#submit{
  background-color: #007bff;
  color: white;
}