<app-header></app-header>
<br><br>
<div class="col-xs-12 col-sm-12 col-md-12 homelangingpage">
    <div class="row">
        <div class="col-xs-12 col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1 companiesdiv" id="mobile-filter" style="height:100%;overflow: scroll;border-right: inset; margin-left: 0px;">
            <div class="companies" style="color: #145fa7;">
                <div>
                    <p class="home-side-menu" data-toggle="collapse" data-target="#type1"> Lifestyle Type</p>
                    <div style="margin-top: 20px;" class="collapse life" id="type1">
                        <mat-checkbox class="checkbox" name="gym" id="gym" (change)="lifestyle_type_filter($event)">Gym</mat-checkbox><br>
                        <mat-checkbox class="checkbox" name="yoga" id="yoga" (change)="lifestyle_type_filter($event)">Yoga</mat-checkbox><br>
                        <mat-checkbox class="checkbox" name="karate" id="karate" (change)="lifestyle_type_filter($event)">Karate</mat-checkbox>
                    </div>
                    <div style="margin-top: 20px;" class="life" id="type2">
                        <mat-checkbox class="checkbox" name="gym" id="gym" (change)="lifestyle_type_filter($event)">Gym</mat-checkbox><br>
                        <mat-checkbox class="checkbox" name="yoga" id="yoga" (change)="lifestyle_type_filter($event)">Yoga</mat-checkbox><br>
                        <mat-checkbox class="checkbox" name="karate" id="karate" (change)="lifestyle_type_filter($event)">Karate</mat-checkbox>
                    </div>
                </div>
                <p class="home-side-menu" data-toggle="collapse" data-target="#state1">State</p>
                <div class="collapse companies" id="state1" style="height: 298px;overflow: scroll;color: #145fa7;font-size: 12px;
                              text-transform: uppercase;font-weight: bold;">
                    <div class="check" *ngFor="let state of states">
                        <mat-checkbox class="checkbox" name="check" value="{{state}}" name="{{state}}" (change)="state_wise_Filter($event)">{{state}}</mat-checkbox>
                    </div>
                </div>
                <div class="companies" id="state2" style="height: 298px;overflow: scroll;color: #145fa7;font-size: 12px;
                              text-transform: uppercase;font-weight: bold;">
                    <div class="check" *ngFor="let state of states">
                        <mat-checkbox class="checkbox" name="check" value="{{state}}" name="{{state}}" (change)="state_wise_Filter($event)">{{state}}</mat-checkbox>
                    </div>
                </div>
                <p class="home-side-menu" data-toggle="collapse" data-target="#price1">Lifestyle Price </p>
                <div class="collapse companies" id="price1" style="color: #145fa7;">
                    <div class="check" *ngFor="let data of priceoptions">
                        <mat-checkbox class="checkbox" value={{data.Value}} (change)="price_wise_Filter($event)">{{data.price}}
                        </mat-checkbox>
                    </div>
                </div>
                <div class="companies" id="price2" style="color: #145fa7;">
                    <div class="check" *ngFor="let data of priceoptions">
                        <mat-checkbox class="checkbox" value={{data.Value}} (change)="price_wise_Filter($event)">{{data.price}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-sm-8" id="mobile-home">
            <div class="col-xs-12 col-md-12" style=" margin-top: 20px;" id="life">
                <div class="col-xs-12 col-md-12 astrolabel">
                    <label class="astroclas">Lifestyle </label>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div *ngIf="live_lifestyleshow1">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let obj of onlineavil2" style="margin-bottom: 10px;">
                                <div class="card">
                                    <div class="frontside">
                                        <div class="card-body1 text-centerd" style="background-color: aliceblue; margin-left:-15px; ">
                                            <div>
                                                <div *ngIf="obj.profile_photo; else accounttype"><img class="imgonline" [src]="obj.profile_photo" (click)="proffDetails(obj)">
                                                </div>
                                                <div>
                                                    <ng-template #accounttype>
                                                        <img class="imgonline" src="assets/images/account.png" (click)="proffDetails(obj)">
                                                    </ng-template>
                                                </div>
                                                <h4 class="card-title">{{obj.first_name}}</h4>
                                                <h5 class="card-proff">{{obj.role}}</h5>
                                                <div *ngIf="obj.finalatings" class="starrate">
                                                    <ngb-rating [(rate)]="obj.finalatings"></ngb-rating>
                                                    <p class="starrate">{{obj.rating}}</p>
                                                </div>
                                                <div *ngIf="!obj.finalatings" class="nonStar">
                                                    <ngb-rating [rate]="currentRate"></ngb-rating>
                                                </div>
                                                <hr>
                                            </div>
                                            <div>
                                                <p><img class="expresp" src="assets/images/download.png">Exp:
                                                    {{obj.experience}} years</p>
                                            </div>
                                            <div>
                                                <p><img class="vidprice" src="assets/images/images.png">{{obj.video_price}} /30min</p>
                                            </div>
                                            <div *ngIf="obj.is_online" (click)="bookingLifestyle(obj)">
                                                <div><img class="onlineimg" src="assets/images/call.png"><br>
                                                    <p class="online12"> ONLINE</p>
                                                </div>
                                            </div>
                                            <div *ngIf="!obj.is_online" (click)="offlineBook()">
                                                <div><img class="onlineimg" src="assets/images/call.png"><br>
                                                    <p class="offline"> OFFLINE</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div #lifestyleBookingModal class="modal">
    <div *ngIf="show1" class="col-md-12 col-sm-12 col-lg-12">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <span *ngIf !="profiledetails.profile_photo">
                        <img class="preview-img" src="assets/images/account.png" alt="Preview Image" width="60" height="60" /></span>
                    <span *ngIf="profiledetails.profile_photo"><img src={{profiledetails.profile_photo}} class="preview-img" alt="Preview Image" width="100" height="100" style="border-radius: 100%;"></span>
                    <label class="popprofname">{{profiledetails.first_name}}</label><br>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td> Area Of Expertise </td>
                                <td>
                                    {{profiledetails.area_of_expertise}}
                                </td>
                            </tr>
                            <tr>
                                <td> Video : </td>
                                <td>{{profiledetails.video_price}}/-</td>
                            </tr>
                            <tr>
                                <td> Experience : </td>
                                <td>
                                    {{profiledetails.experience}}
                                </td>
                            </tr>
                            <tr>
                                <td>Languages :</td>
                                <td>
                                    {{profiledetails.languages}}
                                </td>
                            </tr>
                            <tr>
                                <td>Location :</td>
                                <td>
                                    {{profiledetails.city}}
                                </td>
                            </tr>
                            <tr>
                                <td>Available Days :</td>
                                <td>
                                    {{profiledetails.days}}
                                </td>
                            </tr>
                            <tr>
                                <td>Available Timings :</td>
                                <td>
                                    {{profiledetails.mstime}} - {{profiledetails.metime}}
                                    & {{profiledetails.estime}} - {{profiledetails.eetime}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-12 col-xs-12 col-sm-12 booknow" (click)="booknowLife(profiledetails)"> Book Now </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" #offlineModal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7; ">
                <p class="modal-title" style="color: white;">Booking failure.</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Academics Professional is offline.!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="myModal" #signinpopup role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#445090;height: 59px;">
                <h3 class="modal-title" style="color: white;text-align: center;">Action Required</h3>
            </div>
            <div class="modal-body" style="font-weight: bold;font-size: 20px;text-align: center">
                <p>Please signin/signup as user to continue booking</p>
            </div>
            <div class="modal-footer text-center" style="margin-left: 172px;">
                <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/registration/login">ok</button>
            </div>
        </div>
    </div>
</div>