.form-gap{
	margin-top: 90px;
	  max-height: 430px;
}
.invalid-feedback {
color: #f90e0a;
}
.panel-default {
    border-color: #337ab7 !important;
    color: black;
   
}

.pspace{
	margin-top: 25px;
}
.border{
    border-style: solid 2px;
    border-color: black;
    padding: 40px;
    }
.btn{
    color:#337ab7;
}
.resetbutton
{
     color: white;
    padding: 5px 14px;
    /*margin-left: 35px;*/
    background: #327ab5;
}
.passbtn{
	margin-left:35%;
	margin-top: 40px;
}
.loanModalHeader {
    background-color: #337ab7;
    color: white;
    text-align: center;
}

#loanModalBody {
    background: whitesmoke;
}
/*.btn-primary:hover {
    color: #337ab7;
    background-color: #286090 !important;
    border-color: #204d74;
}*/
@media only screen and (min-width:264px) and (max-width:768px) {
    .form-gap{
        margin-top: 55px;
     
    }
  } 