<app-header></app-header>
<br>
<div class="contactclass">
  <h2 class="contact">Contact Us</h2>
  </div> 
  <div class="col-md-12">
   <div class="row">
    <div class="col-md-6 col-sm-6 divborder1">
      <h5 style="font-weight: bold;">Gowdanar Technologies Pvt Limited</h5>
      <p>
        28/1, 15th Main, 1st Cross,
        <br> E-Block, Next to SBH Bank,
        <br> Sahakar Nagar,
        <br> Bangalore - 560092
        <br>
      </p>
      <h5 style="font-weight: bold">Phone No:</h5>
      <p> Phone: 080 4147-4968</p>
    </div>
    <div class="col-md-6 col-sm-6 divborder3">
    	<h5 style="font-weight: bold;">Website</h5>
      <p>
        www.g-astro.in
      </p>
      
      <h5 style="font-weight:bold;">For any information <br>Email ID:</h5>
      <p>
        g-astro@gowdanar.com
      </p>
      
      <h5 style="font-weight:bold;">For sales related queries:</h5>
      <p>
        g-astro@gowdanar.com
      </p>      
    </div>
    <div class="col-md-4 col-sm-6s divborder2">
      <h2>Feedback</h2>
      <form>
        Name
        <input type="text" class="form-control" name="">
        <br> Mobile No
        <input type="text" class="form-control" name="">
        <br> Email ID
        <input type="text" class="form-control" name="">
        <br> Message
        <input style="height:100px;" type="textarea" class="form-control" name="">
        <br>
        <button class="md-raised md-warn">SUBMIT COMMENT</button>
      </form>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
<router-outlet></router-outlet>


