


              /******************CSS FOR MODAL AND CATEGORIES***********/

              .manager-textbox {
                background-color: #f4f6f9;
                box-shadow: 0 -3px 0 0 #ddd;
                position: relative;
                margin-top: 0px;
              }
              .manager-portrait {
                position: absolute;
                top: 40px;
                left: 48%;
                border-radius: 50%;
                border: solid 0px ;
              }
              .bigpic1 {
                height: 10vh;
                width: 10vh;
                margin-left: 55px;
                border-radius: 85%;
                margin-top: 8px;
              }
              .bigpic1{
                /*  display: inline-block;*/
                max-width: 100%;

              }

              .reshedu{
                background-color: #337ab7;
                border-radius: 6px;
                font-size: 14px;
                color: white;
                padding: 5px;
              }
              .reshedu1{
                background-color: #337ab7;
                border-radius: 6px;
                font-size: 14px;
                color: white;
                padding: 5px;
                width: 96px;
              }
              .booknow {
                border: 1px solid;
                cursor: pointer;
                text-align: center;
                background-color: #347ab7;
                color: white;
                padding: 9px;
                box-shadow: -20px 1px 20px 1px #bfabab;
                border-radius: 24px;
              } 
              h4, .h5, .h6, h4, h5, h6 {
                margin-top: -5px;
                margin-bottom: 10px;
              }
              .modal-content {
                background-color: rgb(250, 250, 250);
              }
              .h3{
                margin-top: 2px;
              }
              .shift{
                margin-left: 1px;

              }
              .bigpic{
                margin-left: 10px;
              }
              .container-fluid{
               width: 73%;
               margin-left: 334px;
             }
             .one{
              margin-bottom: 20px
            }
            .row{
              margin-top: 20px;
            }

            @media screen and (min-width:375px) and (max-width: 812px)
            { 
              .manager-portrait{
               top: 68px;
               left: 38%;
             }
             .container-fluid{
              margin-left: 70px;

            }
            .row{
              margin-left: 25px;
            }
        
          }
           
          @media screen and (min-width:360px) and (max-width: 700px){

            .container-fluid{
             width: 73%;
             margin-left: 48px;
           }
           .row{
            margin-top: 20px;
            margin-left:-100px;

          }
          .bigpic1{
            /*  display: inline-block;*/
            max-width: 134%;
          }
          .manager-textbox {
            background-color: #f4f6f9;
            box-shadow: 0 -3px 0 0 #ddd;
            position: relative;
            margin-top: -26px;
            width: 250px;
          }
          .two
          {
            margin-bottom: 20px;
            margin-left: 0px;
            font-size:19px;
          }
          .one
          {
            margin-bottom: 20px;
            margin-left: 0px;
            font-size: 19px;
          }
          .manager-portrait {
            position: absolute;
            top: 64px;
            left: 41%;
            border-radius: 50%;
            border: solid 0px ;
          }
              .abovedes{
              margin-left: 75px;
              width: 100%;
            }
            .mydivborder {
         margin-left: 24px;
     }
     .imgdiv{
     margin-left: -24px;
  }
     }



/*css for cards*/

#team {
  background: #eee !important;
}
.top h1{
  text-align: center; 
  color: white; 
  margin-bottom: 25px;
  font-family: Poppins-Regular;  
}
.top{
  height: 175px;
  z-index: 1;
}
.top::before{
  content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,.7);
}
h4{
  margin-top: -79px;
  margin-left: 60px;
  font-family: serif;
}
h6{
  margin-top: -69px;
  margin-left: 60px;
}

#team .card {
  border: none;
  background: #ffffff;
}
.starrate{
  color: #337ab7;
  left: 17px;
  font-size: 10px;
  margin-left: 10px;
}
.nonStar {
  color: #337ab7;
  left: 17px;
  font-size: 10px;
  margin-left: 67px;
}
.card{
  height: 200px;
  /*width:250px;*/
  margin-top: 15px;
}
.frontside {
  min-height: auto;
}
hr{
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.frontside .card .card-title,{
  color: #007b5e !important;
}
.card-proff{
  color: #3ca0deb8 !important;
  margin-left: 60px;
}
.frontside .card .card-body1 {
  border-radius: 50%;
}
.imgonline{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: -183px;
  margin-top: 10px;
  cursor: pointer;
}
.text-centerd{
  text-align: center!important;
}
.expresp{
  margin-left: -145px;
  height: auto;
  width: 10%;
  opacity: .9;
}
.vidprice {
 height: auto;
 margin-left: -155px;
 width: 3%;
 opacity: .8;
}
.onlineimg{
  height: auto;
  margin-left: 211px;
  margin-top: -178px;
  width: 34px;
  opacity: .8;
}
.onlineimg:hover{
  width: 45px;
  cursor: pointer;
}
.online12{
  margin-top: -73px;
  margin-left: 210px;
  color: green;
}

.offline{
  margin-top: -73px;
  margin-left: 210px;
  color: red;
}
.popprofname{
  font-family: Georgia;
  font-weight: bold; 
  color: white;
  margin-top: 24px;
  margin-left: 10px;

}
