<app-header></app-header>
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4 border">
          <div class="text-center">
            <h4 class="text-center">Forgot Password?</h4>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form name="form" (ngSubmit)="forgetPasswordForm.form.valid && onSubmit(mobile_number)" #forgetPasswordForm="ngForm" novalidate id="register-form" role="form" autocomplete="off" class="form">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                    <input required id="mobile_number" name="mobile_number" [(ngModel)]="mobile_number" (keypress)="keyPress($event)" type="text" class="form-control" #mobilenumberControl="ngModel" placeholder="Enter your Mobile Number" minlength="10" maxlength="10">
                  </div>
                  <span style="color:red">{{error_mobileno}}</span>
                  <div style="color:red" *ngIf="forgetPasswordForm.submitted && mobilenumberControl.invalid" class="text-danger">
                    <div *ngIf="mobilenumberControl.errors.required">Mobile Number is Required</div>
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
