.form-gap {
    padding-top: 70px;
}
.border{
    border-style: solid 2px;
    border-color: black;
    padding: 40px;
}
.box-outline {
    margin-top: 125px;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    border: 1px solid #337ab7;
    background: #f3f3f3;
}
.reset {
    margin-bottom: 15px;
    color: #327ab5;
    text-align: center;
}
.txtalign{
    text-align: center;
}

.resetbutton {
    color: white;
    padding: 5px 14px;
    /*margin-left: 35px;*/
    background: #327ab5;

}
.forgot{
    font-size: 20px;
}
.submitbutton{
    margin-top:4%;
}

.mobilenumber {
    border-color: #ed6505;
}

.reset-text p {
    padding: 17px 0px;
    color: rgb(35, 86, 129);
    font-weight: bolder;
}

.reset h1 {
    font-size: x-large;
    font-weight: bold;
}



.invalid-feedback{
    color:red;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@media only screen and (min-width:350px) and (max-width: 767px) {
 .border{
    border-style: solid 2px;
    border-color: black;
    padding: 40px;
    margin-right: 45px;
    margin-left:30px;
}
}