
<app-header></app-header>
<div class="col-12 newsiden d-block d-md-none">
  <div id="mySidenav" class="sidenav" style="margin-top:22px; ">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" style="color: black;">&times;</a>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-2 box-grid" data-toggle="tooltip" data-placement="right" title="Completed Appointments" (click)="professionalCompleted()" style="color:white"><i class="fa fa-user"></i>
      <p style="color: white">Completed Appointments</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-2 box-grid" data-toggle="tooltip" data-placement="right" title="Pending Appointments" (click)="professionalPending()" style="color:white" href="uiid"><i class="fa fa-exclamation-triangle"></i>
      <p style="color: white">Pending Appointments</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-2 box-grid" data-toggle="tooltip" data-placement="right" title="Settings" (click)="professionalProfile()" style="color:white"><i class="fa fa-cogs"></i>
      <p style="color: white">Profile update</p>
    </div>
    <div class="col-md-12 col-xs-2 col-sm-12 box-grid" data-toggle="tooltip" data-placement="right" title="Transaction History" (click)="professionalPay()" style="color:white"><span class="fas fa-credit-card"></span>
      <p>Payment History</p>
    </div>
    <div class="col-md-12 col-sm-12  col-xs-2 box-grid" data-toggle="tooltip" data-placement="right" title="Online/Offline" style=" color: {{btncol}};">
      <span data-toggle="tooltip" data-placement="right" title="Online" *ngIf="status" (click)="gotocontroller(1)"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="gray" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
        </svg>
        <p style="color: white;">Online</p>
      </span>
      <span data-toggle="tooltip" data-placement="right" title="Offline" *ngIf="!status" (click)="gotocontroller(2)"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="gray" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" />
        </svg>
        <p style="color: white">Offline</p>
      </span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-2 box-grid" data-toggle="tooltip" data-placement="right" title="Dashboard" (click)="goHome()" style="color:white"><i class="fas fa-home"></i>
      <p style="color: white">Dashboard </p>
    </div>
  </div>
</div>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

</div>


<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Professional Dashboard</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a (click)="professionalCompleted()"><i class="fas fa-check-circle"></i>&nbsp;Completed Appointments</a>
      </li>
      <li>
        <a (click)="professionalPending()"><i class="fa fa-exclamation-triangle"></i>&nbsp;Pending Appointments</a>
      </li>
      <li>
        <a (click)="professionalProfile()"><i class="fa fa-cog"></i>Profile Update</a>
      </li>
      <li>
        <a *ngIf="status" (click)="gotocontroller(1)"> <span class="fas fa-eye"></span>Online</a>
        <a *ngIf="!status" (click)="gotocontroller(2)"> <span class="fas fa-eye-slash"></span>Offline</a>
      </li>
      <li>
        <a (click)="professionalPay()"> <span class="fas fa-credit-card"></span>Transaction History</a>
      </li>
      <li>
        <a (click)="goHome()"> <span class="fas fa-home"></span>Dashboard</a>
      </li>
    </ul>
  </aside>
  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>
